<!DOCTYPE html>
<html ng-app="votolegal">
<head>
  <script type="text/javascript">(function(){try{if(window.self === window.top) document.location='/error/config-error/index.html'}catch(e){console.log(e)}})();</script>

  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width">
  <title><%= current_page.data.title ? "#{current_page.data.title}" : "Site do candidato" %></title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon"/>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "site" %>
  <%= stylesheet_link_tag "font-awesome.min" %>
  <%= stylesheet_link_tag "flaticon" %>

  <style> body { margin-top: -10px; } </style>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="<%= page_classes %>">
    <div id="loading" class="load-backdrop">
      <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i><br>
    </div>

    <% if page_classes == 'candidato candidato_doar candidato_doar_compartilha candidato_doar_compartilha_index'  %>
      <%= partial "partial/compartilha" %>
    <% end %>

    <div class="container-fluid">
      <div class="navbar-divider"></div>
    </div>


    <%= yield %>


    <!-- page footer -->
    <div class="container-fluid">
      <div class="navbar-divider"></div>
    </div>

    <!-- footer -->
    <footer id="footer">
      <div class="container">
        <div class="row">

          <div class="copyright col-md-12 col-sm-12 col-xs-12">
            <p>Executado através do software livre</p>
            <p>
              <%= image_tag '/images/logo-negative.png' %>
            </p>
            <p>Este projeto é distribuido sob a licença <a href="https://www.gnu.org/licenses/agpl-3.0.en.html" target="_blank"><em>Affero General Public License</em></a> e o código esta disponível em um <a href="https://github.com/appcivico" target="_blank">repositório público</a>.</p>

            <p>
              <img src="/images/candidatos/selo-pci.png" alt="Selo PCI"> O PagSeguro possui o certificado de segurança PCI.
            </p>
          </div>

        </div>
      </div>
    </footer>


    <!-- styles -->
    <%= stylesheet_link_tag "sweetalert" %>

    <!-- javascript -->
    <%= javascript_include_tag 'classList.min.js'%>
    <%= javascript_include_tag 'sweetalert.js' %>

    <%= javascript_include_tag 'angular.all.js' %>

    <%= javascript_include_tag 'jquery.min.js' %>
    <%= javascript_include_tag 'bootstrap.min.js' %>
    <%= javascript_include_tag 'all' %>

    <!-- image plugin -->
    <%= stylesheet_link_tag 'ekko-lightbox.css' %>
    <%= javascript_include_tag 'ekko-lightbox.min.js' %>

    <script>
      // TODO: colocar todo esse js em um arquivo separado
      $(function(){

        /**
         * Change color of
         */
        $('.howto-works-timeline').on('mouseover', '.howto-works-text, .howto-works-pill', function(){
          $('.howto-works-timeline li').removeClass('active');
          $(this).parent().addClass('active');
        });


        /**
         * Faq chevrom image change
         */
        $('#accordion').on('show.bs.collapse', function (e) {
          $(e.target).parent().find('i.fa').removeClass('fa-chevron-down').addClass('fa-chevron-up');
        });
        $('#accordion').on('hide.bs.collapse', function (e) {
          $(e.target).parent().find('i.fa').removeClass('fa-chevron-up').addClass('fa-chevron-down');
        });

        // start popover elements
        $('[data-toggle="popover"]').popover();

				// delegate calls to data-toggle="lightbox"
				$(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
					event.preventDefault();
					return $(this).ekkoLightbox({ always_show_close: true });
				});

      });
    </script>

    <script>
      var $buoop = {vs:{i:8,f:25,o:12.1,s:7},c:2};
      function $buo_f(){
       var e = document.createElement("script");
       e.src = "//browser-update.org/update.min.js";
       document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>

    <%= partial "partial/ga" %>

  </body>
</html>
