<!DOCTYPE html>
<html ng-app="votolegal">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width">
  <title><%= current_page.data.title ? "VotoLegal - #{current_page.data.title}" : "VotoLegal" %></title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon"/> 
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"> 
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "site" %>
  <%= stylesheet_link_tag "font-awesome.min" %>
  <%= stylesheet_link_tag "flaticon" %>

  <!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="<%= page_classes %>">

    <!-- Static navbar -->
    <div id="nav" class="navbar-fixed-top" ng-controller="MenuController">
      <div class="container">
        <nav class="navbar navbar-votolegal">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">
                <img src="/images/logo.png" alt="VotoLegal">
              </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/sobre">O projeto</a></li>
                <li class="hide"><a href="#">Explore</a></li>
                <li><a href="/como-funciona">Como funciona?</a></li>
                <li class="dropdown" ng-hide="is_admin()">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Portal do candidato <span class="caret"></span>
                  </a>
                    <ul class="dropdown-menu">
                      <li ng-controller="AuthController">
                        <% content_tag :form, name: 'signinForm', class: 'angular-form', 'ng-submit': "authenticate(signinForm.$valid)", novalidate: '' do %>

                        <p class="text-center">
                          <input type="text" class="form-control" name="email" ng-model="signin.email" placeholder="Login" autofocus required>
                        </p>
                        <p class="text-center">
                          <input type="password" class="form-control" name="password" ng-model="signin.password" placeholder="Senha" required>
                        </p>
                        <p class="text-center">
                          <small><%= link_to 'Esqueci minha senha', '/conta/recuperar-senha' %></small>
                        </p>
                        <p class="text-center">
                          <button class="btn btn-success" type="submit">Entrar</button>
                        </p>
                        <p class="text-center">
                          <small>É candidato e não possui cadastro? <% link_to '/pre-cadastro' do %>Clique aqui<% end %></small>
                        </p>
                        <% end %>
                      </li>
                    </ul>
                </li>
                <li class="dropdown" ng-show="is_admin()" style="min-width: 175px;">
                 <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" role="button">
                    Olá, {{current_user.name}} <span class="caret"></span>
                  </a>
                    <ul class="dropdown-menu">
                      <li><a class="text-muted" href="/pre-cadastro/aprovado"><i class="fa fa-caret-right"></i> Meu perfil</a></li>
                      <li><a href="/cadastro-completo"><i class="fa fa-caret-right"></i> Editar perfil</a></li>
                      <li><a class="text-muted" href="#"><i class="fa fa-caret-right"></i> Histórico de Doações</a></li>
                      <li><a href="javascript:void(0);" ng-click="logout()">Sair</a></li>
                    </ul>
                </li>

              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
      </div><!--/.container -->
    </div><!--/.container -->

    <div class="container-fluid">
      <div class="navbar-divider"></div>
    </div>


    <%= yield %>


    <!-- page footer -->
    <div class="container-fluid">
      <div class="navbar-divider"></div>
    </div>

    <!-- footer -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-12">
            <h4>O projeto</h4>
            <br class="divider hidden-sm hidden-xs">
            <p><a href="/sobre">Sobre</a></p>
            <p><a href="/parceiros">Parceiros</a></p>
            <p><a href="/termos-de-uso">Termos de uso</a></p>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-12 hide">
            <h4>Como funciona?</h4>
            <br class="divider hidden-sm hidden-xs">
            <p><a href="/selos">Selos em uso</a></p>
            <p><a href="/selos/use">Use o selo</a></p>
            <p><a href="/selos/obtenha">Obtenha certificação</a></p>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-12">
            <h4>Ajuda</h4>
            <br class="divider hidden-sm hidden-xs">
            <p><a href="/faq">Perguntas frequentes</a></p>
            <p><a href="/contato">Contato</a></p>
            <p><a href="/documentos-para-cadastro">Documentos para cadastro</a></p>
          </div>
          <div class="col-md-offset-6 col-sm-offset-3 col-md-2 col-sm-3 col-xs-12">
            <a href="/"><img src="/images/logo-negative.png" alt="VotoLegal"></a>
          </div>

          <div class="social-buttons col-md-12 col-sm-12 col-xs-12">
            <h4>Siga-nos</h4>
            <ul>
              <li><a href="//www.facebook.com/MCCEFichaLimpa" title="Facebook" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
              <li><a href="//twitter.com/fichalimpa" title="Twitter" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
              <li><a href="//www.youtube.com/user/CANALMCCE" title="Youtube" target="_blank"><i class="fa fa-youtube fa-2x"></i></a></li>
              <li><a href="//telegram.me/votolegal" title="Telegram" target="_blank"><i class="fa fa-paper-plane fa-2x"></i></a></li>
              <li><a href="//github.com/AppCivico" title="Github" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
            </ul>
          </div>
          
          <div class="copyright col-md-12 col-sm-12 col-xs-12">
            <p>Voto Legal é uma plataforma aberta e baseada em software livre os realizadores não se responsabilizam pelas informações fornecidas pelos candidatos, nem pelo comportamento deles durante o período eleitoral, e se eleitos, durante seus respectivos mandatos.</p>
            <p>Este projeto é distribuido sob a licença <a href="https://www.gnu.org/licenses/agpl-3.0.en.html" target="_blank"><em>Affero General Public License</em></a>.</p>
          </div>

        </div>
      </div>
    </footer>
    
    <!-- styles -->
    <%= stylesheet_link_tag "sweetalert" %>

    <!-- javascript -->
    <%= javascript_include_tag 'sweetalert' %>

    <%= javascript_include_tag 'angular.min.js' %>
    <%= javascript_include_tag 'angular-route.min.js' %>
    <%= javascript_include_tag 'angular-sanitize.js' %>
    <%= javascript_include_tag 'angular-storage.js' %>
    <%= javascript_include_tag 'angular-masks' %>
    <%= javascript_include_tag 'angular-ng_mask' %>
    <%= javascript_include_tag 'angular-br-filters.min.js' %>
    <%= javascript_include_tag 'angular-sweet_alert.min.js' %>
    <%= javascript_include_tag 'ui-bootstrap-2.0.0.min.js' %>

    <%= javascript_include_tag 'jquery.min.js' %>
    <%= javascript_include_tag 'bootstrap.min.js' %>
    <%= javascript_include_tag 'all' %>

    <!-- image plugin -->
    <%= stylesheet_link_tag 'ekko-lightbox.css' %>
    <%= javascript_include_tag 'ekko-lightbox.min.js' %>

    <%= javascript_include_tag 'application' %>
    
    <script>
      // TODO: colocar todo esse js em um arquivo separado
      $(function(){

        /**
         * Change color of 
         */
        $('.howto-works-timeline').on('mouseover', '.howto-works-text, .howto-works-pill', function(){
          $('.howto-works-timeline li').removeClass('active');
          $(this).parent().addClass('active');
        });

    
        /**
         * Faq chevrom image change
         */
        $('#accordion').on('show.bs.collapse', function (e) {
          $(e.target).parent().find('i.fa').removeClass('fa-chevron-down').addClass('fa-chevron-up');
        });
        $('#accordion').on('hide.bs.collapse', function (e) {
          $(e.target).parent().find('i.fa').removeClass('fa-chevron-up').addClass('fa-chevron-down');
        });

        // start popover elements
        $('[data-toggle="popover"]').popover();

				// delegate calls to data-toggle="lightbox"
				$(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
					event.preventDefault();
					return $(this).ekkoLightbox({ always_show_close: true });
				});

      });
    </script>

    <script> 
      var $buoop = {vs:{i:8,f:25,o:12.1,s:7},c:2}; 
      function $buo_f(){ 
       var e = document.createElement("script"); 
       e.src = "//browser-update.org/update.min.js"; 
       document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script> 

    <%= partial "partial/ga" %>
  </body>
</html>
