
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width">
  <title><%= current_page.data.title ? "VotoLegal - #{current_page.data.title}" : "VotoLegal" %></title>
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"> 

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

  <!-- website stylesheet -->
  <%= stylesheet_link_tag :site %>

</head>
<body class="<%= page_classes %>">

    <!-- Static navbar -->
    <div id="nav" class="container">
      <nav class="navbar navbar-votolegal">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <img src="/images/logo.png" alt="VotoLegal">
            </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">O projeto</a></li>
              <li class="hide"><a href="#">Explore</a></li>
              <li><a href="#">Como funciona?</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  Portal do candidato <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <input type="text" class="form-control" placeholder="Login">
                  </li>
                  <li>
                    <input type="password" class="form-control" placeholder="Senha">
                  </li>
                  <li class="text-center">
                    <small><%= link_to 'Esqueci minha senha', '/esqueci' %></small>
                  </li>
                  <li class="text-center">
                    <button class="btn btn-success" type="submit">Entrar</button>
                  </li>
                  <li class="text-center">
                    <small>É candidato e não possui cadastro? <% link_to '/pre-cadastro' do %>Clique aqui<% end %></small>
                  </li>
                </ul>
              </li>

              <li class="hide"><a href="#">Portal do candidato</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
    </div><!--/.container -->

    <div class="container-fluid">
      <div class="navbar-divider"></div>
    </div>


    <%= yield %>


    <!-- page footer -->
    <div class="container-fluid">
      <div class="navbar-divider"></div>
    </div>

    <!-- footer -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <h4>O projeto?</h4>
            <br class="divider">
            <p><a href="/sobre">Sobre</a></p>
            <p><a href="/parceiros">Parceiros</a></p>
            <p><a href="/termos-de-uso">Termos de uso</a></p>
            <p><a href="/politica-e-privacidade">Políticas e privacidade</a></p>
          </div>
          <div class="col-md-2">
            <h4>Como funciona?</h4>
            <br class="divider">
            <p><a href="/selos">Selos em uso</a></p>
            <p><a href="/selos/use">Use o selo</a></p>
            <p><a href="/selos/obtenha">Obtenha certificação</a></p>
          </div>
          <div class="col-md-2">
            <h4>Ajuda</h4>
            <br class="divider">
            <p><a href="/faq">Perguntas frequentes</a></p>
            <p><a href="/contato">Contato</a></p>
            <p><a href="/documentos-para-cadastro">Documentos para cadastro</a></p>
          </div>
          <div class="col-md-offset-4 col-md-2">
            <a href="/"><img src="/images/logo-negative.png" alt="VotoLegal"></a>
          </div>

          <div class="social-buttons col-md-12">
            <h4>Siga-nos</h4>
            <ul>
              <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
              <li><a href="#"><i class="fa fa-tumblr fa-2x"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest fa-2x"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube fa-2x"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin fa-2x"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube fa-2x"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus fa-2x"></i></a></li>
            </ul>
          </div>
          
          <div class="copyright col-md-12">
            <p>Voto Legal é uma plataforma livre e não se responsabiliza pelas informações fornecidas pelos candidatos, bem como a prestação de contas do mesmo.</p>
            <p>Copyright &copy; 2016 - by Eokoe</p>
          </div>
        </div>
      </div>
    </footer>
    

    <!-- javascript -->
    <script src="https://rawgit.com/angular/bower-angular/master/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <script>
      $(function(){
        //$('.howto-works-timeline').on('.howto-works-pill .howto-works-text', 'click', function(){
        $('.howto-works-timeline').on('mouseover', '.howto-works-text, .howto-works-pill', function(){
          $('.howto-works-timeline li').removeClass('active');
          $(this).parent().addClass('active');
        });
      });
    </script>
    <%= javascript_include_tag :all %>

    <%= partial "partial/ga" %>
  </body>
</html>
