---
title:  Perguntas Frequentes
---

<section id="faq">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="page-title">Perguntas Frequentes</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="search-field"><input type="text" placeholder="&#xf002; Procurar por..."></div>
      </div>
      <div class="col-md-8">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

          <% active = true %>
          <% for index in (1..10) %>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading-<%= index %>">
                <h4 class="panel-title">
                  <a class="faq-link-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= index %>" aria-expanded="true" aria-controls="collapse-<%= index %>">
                    Lorem ipsum dolor sit amet?
                    <i class="fa <%= active ? 'fa-chevron-up' : 'fa-chevron-down' %> pull-right"></i>
                  </a>
                </h4>
              </div>
              <div id="collapse-<%= index %>" class="panel-collapse collapse <%= active ? 'in' : '' %>" role="tabpanel" aria-labelledby="heading-<%= index %>">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <% active = false %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</section>

